/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*
 * Don't let anything be wider than our max width. This is so 
 * fullwidth images don't get so wide they lose resolution.
 */
.wp-site-blocks {
	max-width: var(--wp--custom--layout--full-size);
	margin-left: auto;
    margin-right: auto;
}

/* FIX for center alignment */
body .is-layout-constrained > .aligncenter {
	text-align: center;
}

/* 
 * ADD padding to align left and align right to honor wide width 
 */
.wp-site-blocks > .alignleft {
	margin-right: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50));
}
body .is-layout-constrained > .alignleft {
	padding-left: calc(0.5 * (100% - var(--wp--style--global--wide-size)));
	margin-inline-end: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50));
}
.wp-site-blocks > .alignright {
	margin-left: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50));
}
body .is-layout-constrained > .alignright {
	padding-right: calc(0.5 * (100% - var(--wp--style--global--wide-size)));
	margin-inline-start: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50));
}

/* 
 * Fix WordPress Admin bar on phones not sticking to the top 
 *
 * Note to theme reviewers, this issues a warning but is actually
 * fixing an issue in core WordPress v6.0. It is not hiding the 
 * admin bar like the warning indicates. Body is used for more
 * specificity than the core WordPress CSS.
 */
@media screen and (max-width: 600px) {
    body > #wpadminbar {
        position: fixed;
    }
}

