/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

/* 
 * Default font, link, and button text colors based on the color
 * of the background
 */

/* 
 * Black and near-black colors, default light text, but leave link 
 * color alone 
 */ 
.has-dark-background-color,
.has-dark-alt-background-color,
.has-almost-black-background-color,
.has-not-quite-black-background-color,
.has-black-background-color {
	color: var(--wp--preset--color--foreground-alt);
} 

/* Dark colors, default light text and links */
.has-primary-background-color,
.has-primary-alt-background-color,
.has-secondary-background-color,
.has-secondary-alt-background-color,
.has-tertiary-background-color,
.has-tertiary-alt-background-color,
.has-dark-gray-background-color,
.has-very-dark-gray-background-color,
.has-light-green-background-color,
.has-green-background-color,
.has-bright-green-background-color,
.has-dark-bright-green-background-color,
.has-light-orange-background-color,
.has-orange-background-color,
.has-dark-orange-background-color,
.has-light-blue-background-color,
.has-blue-background-color,
.has-dark-blue-background-color,
.has-midnight-blue-background-color,
.has-dark-midnight-blue-background-color,
.has-light-purple-background-color,
.has-purple-background-color,
.has-dark-purple-background-color,
.has-light-red-background-color,
.has-red-background-color,
.has-dark-red-background-color {
 	color: var(--wp--preset--color--foreground-alt);
 	
 	& a {
	 	color: inherit; //var(--wp--preset--color--foreground-alt);
 	}

	& a:hover {
		opacity: 0.8;
	}
}

/* 
 * Medium Colors (Yellow), default foreground color to text, link,
 * and buttons 
 */ 
.has-light-yellow-background-color,
.has-yellow-background-color {
 	color: var(--wp--preset--color--very-dark-gray);

 	&.wp-block-button__link.wp-element-button {
	 	color: var(--wp--preset--color--very-dark-gray);
	}

	& a {
	 	color: inherit; //var(--wp--preset--color--foreground);
	}
	
	& a:hover {
		opacity: 0.8;
	}
}

/* 
 * Light colors, default foreground color and button color, 
 * but leave the link color alone. 
 */
.has-neutral-background-color,
.has-neutral-alt-background-color,
.has-foreground-alt-background-color,
.has-white-background-color,
.has-off-white-background-color,
.has-very-light-gray-background-color,
.has-light-gray-background-color,
.has-gray-background-color {
 	color: var(--wp--preset--color--very-dark-gray);

 	&.wp-block-button__link.wp-element-button { //,
	 	color: var(--wp--preset--color--very-dark-gray);
	}
}

/* 
 * Swap foreground and background colors. Note this is needed because we can't
 * be sure whether they are light or dark for any given theme or user changes.
 */
.has-background-background-color {
	color: var(--wp--preset--color--foreground);
	
	& a,
	&.wp-block-button__link.wp-element-button {
		color: var(--wp--preset--color--foreground);
	}

	& a:hover {
		opacity: 0.8;
	}
}
.has-foreground-background-color {
	color: var(--wp--preset--color--background);

	& a,
	&.wp-block-button__link.wp-element-button {
		color: var(--wp--preset--color--background);
	}

	& a:hover {
		opacity: 0.8;
	}
}

//
// Within post content, increase font-weight on links
// .wp-block-post-content .has-background a:where(:not(.wp-element-button)) { 
// 	font-weight: var(--wp--custom--typography--font-weight--medium); 
// }

/* 
 * On Cover blocks, we have to get more specific than core WordPress. 
 * We want to override the black font on light-colored backgrounds (if 
 * an overlay color is applied with at least 40% opacity).
 */
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-40)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-40)),
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-50)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-50)), 
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-60)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-60)), 
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-70)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-70)),
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-80)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-80)), 
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-90)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-90)),
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-100)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-100)) { 
  color: var(--wp--preset--color--white);
}
