/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

//
// Within post content, increase font-weight on links
// .wp-block-post-content .has-background a:where(:not(.wp-element-button)) { 
// 	font-weight: var(--wp--custom--typography--font-weight--medium); 
// }

/* 
 * On dark colored backgrounds, default light colored font.
 * 
 * On light colored backgrounds, inherit dark colored font.
 * 
 * Note: Don't use :not() with background colors or it will 
 * override the user's font selection. 
 * 
 * To override in a specific global theme style, use:
 * 
 * .has-background.has-ABC-background-color {
 * 		color: var(--wp--preset--color--XYZ);
 * }
 *
 * .has-background.has-ABC-background-color a:not(
 *		.wp-block-button__link, 
 * 		.wp-element-button
 * 		.wp-block-navigation-item__content
 * 	) { 
 *		color: var(--wp--preset--color--XYZ);
 * }
 *
 * .has-background.has-ABC-background-color a:hover:not(
 *		.wp-block-button__link, 
 * 		.wp-element-button
 * 		.wp-block-navigation-item__content
 * 	) { 
 *		color: var(--wp--preset--color--XYZ);
 * }
 * 
 */
 
/* Light colors to default light text and links */
.has-background.has-primary-background-color,
.has-background.has-primary-alt-background-color,
.has-background.has-secondary-background-color,
.has-background.has-secondary-alt-background-color,
.has-background.has-tertiary-background-color,
.has-background.has-tertiary-alt-background-color,
.has-background.has-dark-gray-background-color,
.has-background.has-very-dark-gray-background-color,
.has-background.has-light-green-background-color,
.has-background.has-green-background-color,
.has-background.has-bright-green-background-color,
.has-background.has-dark-bright-green-background-color,
.has-background.has-light-orange-background-color,
.has-background.has-orange-background-color,
.has-background.has-dark-orange-background-color,
.has-background.has-light-blue-background-color,
.has-background.has-blue-background-color,
.has-background.has-dark-blue-background-color,
.has-background.has-midnight-blue-background-color,
.has-background.has-dark-midnight-blue-background-color,
.has-background.has-light-purple-background-color,
.has-background.has-purple-background-color,
.has-background.has-dark-purple-background-color,
.has-background.has-light-red-background-color,
.has-background.has-red-background-color,
.has-background.has-dark-red-background-color,
.has-background.has-very-dark-gray-background-color {
 	color: var(--wp--preset--color--foreground-alt);
 	
 	& a:not(
		.wp-block-button__link, 
		.wp-element-button,
		.wp-block-navigation-item__content
		) {
			color: var(--wp--preset--color--foreground-alt);
	}

 	& a:hover:not(
		.wp-block-button__link, 
		.wp-element-button,
		.wp-block-navigation-item__content
		) {
			opacity: 0.8;
	}	
}

/* Light colors to default light text, but leave link color alone */ 
.has-background.has-dark-background-color,
.has-background.has-dark-alt-background-color,
.has-background.has-almost-black-background-color,
.has-background.has-not-quite-black-background-color,
.has-background.has-black-background-color {
	color: var(--wp--preset--color--foreground-alt);
} 

/* 
 * Light colors, inherit the assumed dark font color. 
 * 
 * Note: For dark themes,these will be overridden.
 */
.has-background.has-foreground-alt-background-color,
.has-background.has-neutral-background-color,
.has-background.has-neutral-alt-background-color,
.has-background.has-white-background-color,
.has-background.has-off-white-background-color,
.has-background.has-very-light-gray-background-color,
.has-background.has-light-gray-background-color,
.has-background.has-gray-background-color,
.has-background.has-light-yellow-background-color,
.has-background.has-yellow-background-color {
 	color: var(--wp--preset--color--foreground);
//  	
//  	& a:not(
// 		.wp-block-button__link, 
// 		.wp-element-button,
// 		.wp-block-navigation-item__content
// 		) {
// 			color: var(--wp--preset--color--foreground);
// 		}
// 
//  	& a:hover:not(
// 		.wp-block-button__link, 
// 		.wp-element-button,
// 		.wp-block-navigation-item__content
// 		) {
// 			opacity: 0.8;
// 		}
// 		
}

/* 
 * On Cover blocks, we have to get more specific than core WordPress. 
 * We want to override the black font on light-colored backgrounds (if 
 * an overlay color is applied with at least 40% opacity).
 */
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-40)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-40)),
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-50)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-50)), 
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-60)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-60)), 
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-70)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-70)),
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-80)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-80)), 
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-90)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-90)),
:where(.wp-block-cover-image:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-100)),
:where(.wp-block-cover:not(.has-text-color):has(.wp-block-cover__background.has-background-dim-100)) { 
  color: var(--wp--preset--color--white);
}
