/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* 
 * Style form fields
 * 
 * Note: Many of these need to be excluded from the Block Editor 
 * toolbars or it will alter them too.
 */ 
fieldset {
	font-size: var(--wp--preset--font-size--normal);
	font-weight: var(--wp--custom--typography--font-weight--normal);
	line-height: 1.5;
	padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
	border: 1px solid var(--wp--preset--color--foreground);
	border-radius: var(--wp--custom--border--radius);
	text-shadow: none;
	-webkit-appearance: none;
 }

select {
	font-family: inherit;
	font-size: var(--wp--preset--font-size--small);
	font-weight: var(--wp--custom--typography--font-weight--normal);
	line-height: 1.5;
	border-radius: var(--wp--custom--border--radius);
	text-shadow: none;
	color: var(--wp--preset--color--foreground);
	border: 1px solid var(--wp--preset--color--foreground);	
}
  
textarea,
input {
	font-size: var(--wp--preset--font-size--normal);
	font-weight: var(--wp--custom--typography--font-weight--normal);
	line-height: 1.5;
	border-radius: var(--wp--custom--border--radius);
	text-shadow: none;
}

textarea,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="button"]):not([type="image"]):not([class*="button"]):not(.wp-block-button__link) {
	-webkit-appearance: none;
	border: 1px solid var(--wp--preset--color--foreground);
}

/* Style focus outline */
input:focus,
textarea:focus {
	outline: none !important;
	box-shadow: 0 0 0 3px var(--wp--custom--outline--color);
	transition: box-shadow 0.3s ease;
}
select:focus,
select:focus-visible {
	outline: var(--wp--custom--outline--color) 5px solid;
	transition: outline 0.3s ease;
}
