/*--------------------------------------------------------------
# Padding (Horizontal and vertical spacing)
--------------------------------------------------------------*/

/* For convenience, remove padding from inner containers */
main.wp-block-group:not(.has-global-padding),
.wp-block-template-part {
	padding: 0;
}

/* 
 * If user turns off "useRootPaddingAwareAlignments" in theme.json,
 * then still add some padding to the site so text isn't scrunched
 * up against the sides of the browser.
 */
/*.wp-site-blocks:not(:has(.has-global-padding)) {
    padding-left: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50));
    padding-right: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50));
}*/

/* Override horizontal padding when no global padding */
header.site-header:not(.has-global-padding),
footer.site-footer:not(.has-global-padding),
header.entry-header:not(.has-global-padding),
.wp-block-query:not(.has-global-padding),
#post-comments:not(.has-global-padding) {
    padding-left: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50)) !important;
    padding-right: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50)) !important;
}

/* FIX to add back horizontal padding */
.has-global-padding,
.has-global-padding > .alignfull:not(.wp-block-post-content, .wp-block-image, .wp-block-columns, .wp-block-buttons),
.has-global-padding.alignfull:not(.wp-block-post-content, .wp-block-image, .wp-block-columns, .wp-block-buttons) {
    padding-left: var(--wp--style--root--padding-left); 
    padding-right: var(--wp--style--root--padding-right);
}

/* But REMOVE duplicate padding */
.has-global-padding :where(.has-global-padding),
.has-global-padding > .alignfull:where(:not(.has-global-padding)) > :where(.wp-block-image) {
	padding-left: 0;
	padding-right: 0;
}

/* FIX alignfull in WordPress.org theme preview */
.has-global-padding > #wporg-pattern-preview > div > .alignfull {
	margin-right: calc(var(--wp--style--root--padding-right) * -1);
	padding-right: var(--wp--style--root--padding-right);
	margin-left: calc(var(--wp--style--root--padding-left) * -1);
	padding-left: var(--wp--style--root--padding-left);
}
