# Ignore Mac files
.DS_Store
**/.DS_Store

# Ignore save, test files, and zip files
**/*-SAVE*
styles/*TEST-ONLY*.json
*.css.map
zz_unused
*.zip

# Ignore individual block styles since not implemented yet
assets/css/blocks/

# Ignore our xtremelysocial.com files
styles/*xtremelysocial*.json
