/*--------------------------------------------------------------
# GENERAL STYLES
--------------------------------------------------------------*/

.dashicons,
.dashicons-before:before {
	width: auto !important;
	height: auto !important;
}

/*--------------------------------------------------------------
## WordPress Admin Bar
--------------------------------------------------------------*/

// TO-DO: Consider adding these

/* Prevent admin bar from spilling over site header */
/**#wpadminbar {
	overflow: hidden;
}
#wpadminbar .quicklinks {
	display: flex;
}
#wpadminbar #wp-admin-bar-top-secondary {
	flex-grow: 2;
	flex-basis: auto;
}
#wpadminbar .ab-top-secondary {
	float: none;
}**/

