/*--------------------------------------------------------------
# Lists, Latest Posts, Latest Comments
--------------------------------------------------------------*/

/* Dividers */
.is-style-list-dividers {
	list-style: none;
	padding-left: 0;
}

.is-style-list-dividers li:not(:first-child),
.is-style-list-dividers li > ul {
	list-style: none;
	border-top: solid 1px rgba(128, 128, 128, 0.2);
	padding-top: var(--wp--preset--spacing--30);
	margin-top: var(--wp--preset--spacing--30);
}

.is-style-list-dividers li:not(:first-child) {
	padding-left: 0;
}

