/*--------------------------------------------------------------
# Group Drop Shadow
--------------------------------------------------------------*/

/* Add a border and drop shadow */
// .is-style-drop-shadow.wp-block-group {
// 	border: 1px solid var(--wp--custom--border--color);
// 	box-shadow: var(--wp--preset--shadow--natural);
// }

/* If no background already, add one and some padding */
.is-style-drop-shadow.wp-block-group:not(.has-background) {
	background-color: var(--wp--preset--color--white);
	padding: var(--wp--style--block-gap);
}

/* If not full width, use our standard border radius */
.is-style-drop-shadow.wp-block-group:not(.alignfull) {
	border-radius: var(--wp--custom--border--radius);
}

/*--------------------------------------------------------------
# Group Stacks equal widths
--------------------------------------------------------------*/

/* For flexbox groups within flexbox groups, make the child equal width */
.wp-block-group-is-layout-flex > .wp-block-group-is-layout-flex.is-vertical {
	flex: 1;
}

/* For flexblox groups on desktop, auto-size the columns */
@media (max-width: 781px) {
	.wp-block-group-is-layout-flex > .wp-block-group-is-layout-flex.is-vertical {
		flex-basis: auto;
		flex-wrap: nowrap;
	}
}

/* For flexblox groups on mobile, collapse down the columns */
@media (max-width: 601px) {
	.wp-block-group-is-layout-flex > .wp-block-group-is-layout-flex.is-vertical {
		flex-basis: 100%;
		flex-wrap: nowrap;
	}
}

/*--------------------------------------------------------------
# Equal Cells (Using Grid)
--------------------------------------------------------------*/
/* Display the group as a grid */
.is-style-equal-grid {
	display: grid !important;
}

/* If bigger than mobile, set the grid to equal columns across 2 rows */
@media (min-width: 601px) {
	.is-style-equal-grid {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}

/* If bigger than tablet, set the grid to equal columns */
/*@media (min-width: 781px) {
	.is-style-equal-grid {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}*/

/* Within the columns, make the content equal height and width */
.is-style-equal-grid .wp-block-group-is-layout-flex {
	flex-grow: 1;
	align-items: stretch;
}

/*--------------------------------------------------------------
# Equal Cells (Using Flexbox)
--------------------------------------------------------------*/
/* Set the group contents to equal width */
.is-style-equal-flex > * {
	flex: 1;
}

/* Within the columns, make the content equal height and width */
.is-style-equal-flex .wp-block-group-is-layout-flex {
	flex-grow: 1;
	align-items: stretch;
}

/*--------------------------------------------------------------
# Equal Cells (Using Display: Table)
--------------------------------------------------------------*/
/*.is-style-equal-cells {
    display: table !important;
    table-layout: fixed;
    width: 100%;
	border-collapse: separate;
	border-spacing: 20px 0;
}
.is-style-equal-cells > div {
    display: table-row;
}
.is-style-equal-cells > div > div {
	display: table-cell;
}
@media (max-width: 600px) {
	.is-style-equal-cells > div {
		display: block;
		width: 100% !important;
		margin-bottom: 18px;
	}
}*/
