/*--------------------------------------------------------------
## Headings w/Separator
--------------------------------------------------------------*/

/* Add a colored separator after the heading */
.wp-block-heading.is-style-separator::after {
	content: "";
	position: absolute;
    top: 100%;
    left: 0; 
    right: 0;
    width: calc(3 * var(--wp--preset--spacing--60));
    margin: calc(0.5 * var(--wp--style--block-gap)) 0;
    height: 3px;
    /*background: var(--wp--preset--color--primary);*/
    /*background-color: var(--wp--preset--color--foreground);*/
    background-color: currentcolor;
    /*border-radius: var(--wp--custom--border--radius);*/
    /*margin: auto;
	padding-bottom: 3px;
	border-bottom: 3px solid var(--wp--preset--color--primary);*/
}

/* Set the separator color based on whether there is a font-color or not */
.wp-block-post-content > .wp-block-heading:not(.has-text-color).is-style-separator:after,
.wp-block-post-content :not(.has-text-color) .wp-block-heading:not(.has-text-color).is-style-separator:after {
    background-color: var(--wp--preset--color--primary);
}

/* Align the separator based on the alignment of its heading */
.has-text-align-center.wp-block-heading.is-style-separator:after {
	margin-left: auto;
	margin-right: auto;
}

.has-text-align-right.wp-block-heading.is-style-separator:after {
	margin-right: 0;
	margin-left: auto;
}

.wp-block-heading.is-style-separator {
	position: relative;
	margin-bottom: calc(11.5px + var(--wp--style--block-gap));
}

/* In the Block Editor, don't let the active block position move up our separator */
.is-root-container .wp-block-heading.is-style-separator:after {
	top: 100% !important;
}

/*.is-outline-mode .wp-block-heading.is-style-separator .block-editor-block-list__block:not(.remove-outline).is-hovered:after {
    top: 100%;
}

.is-outline-mode .wp-block-heading.is-style-separator .block-editor-block-list__block:not(.remove-outline).is-selected:after {
    top: 100%;
}*/

/*--------------------------------------------------------------
# Animate Heading Underline on Hover
--------------------------------------------------------------*/

/* Link hover animation for headings and post titles */
/*h1 a,
h1 a:visited,
h2 a,
h2 a:visited,
h3 a,
h3 a:visited,
h4 a,
h4 a:visited,
h5 a,
h5 a:visited,
h6 a,
h6 a:visited,
.wp-block-heading a,
.wp-block-heading a:visited,
.wp-block-post-title a,
.wp-block-post-title a:visited,
.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-title,
.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-title:visited {
	position: relative;
	display: inline;
	background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
	background: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
	background: -o-linear-gradient(left, currentColor 0%, currentColor 100%);
	background: linear-gradient(to right, currentColor 0%, currentColor 100%);
	background-size: 0 2px;
	background-position: 0 95%;
	-webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
	-o-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
	transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
	padding: 0 0 5px 0;
	background-repeat: no-repeat;
	display: initial;
}

h1 a:active,
h1 a:hover,
h1 a:focus,
h2 a:active,
h2 a:hover,
h2 a:focus,
h3 a:active,
h3 a:hover,
h3 a:focus,
h4 a:active,
h4 a:hover,
h4 a:focus,
h5 a:active,
h5 a:hover,
h5 a:focus,
h6 a:active,
h6 a:hover,
h6 a:focus,
.wp-block-heading a:active,
.wp-block-heading a:hover,
.wp-block-heading a:focus,
.wp-block-post-title a:active,
.wp-block-post-title a:hover,
.wp-block-post-title a:focus,
.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-title:active,
.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-title:hover,
.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-title:focus {
	background-size: 100% 2px;
}*/
