/*--------------------------------------------------------------
# Navigation: Custom
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Dividers
--------------------------------------------------------------*/

/* When specified, put dividers on top-level horizontal menu items */
/* TO-DO: Get this working in the block editor too */
/* 
.wp-block-navigation.is-style-nav-dividers {

	& > .wp-block-navigation__container,
	& .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__container {
		column-gap: var(--wp--preset--spacing--30);
		
		& > li:not(:last-child) {
			border-right: 1px solid rgba(128, 128, 128, 0.2);
			padding-right: var(--wp--preset--spacing--30);
		}
	}
}
 */

/* Always put dividers on drop-down menus from top-level horizontal menu items */
.wp-block-navigation.is-style-nav-dividers .wp-block-navigation__responsive-container:not(.is-menu-open) {
//.wp-block-navigation__responsive-container:not(.is-menu-open) {

	/* Put the padding on the container and round it out */
	& .wp-block-navigation__submenu-container.wp-block-navigation-submenu {
		border-radius: var(--wp--custom--border--radius);
		padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
	}
	
	/* And remove the padding and border from the links */
	& .wp-block-navigation__submenu-container.wp-block-navigation-submenu > .wp-block-navigation-item > .wp-block-navigation-item__content {
		border: none;
		padding-left: 0;
		padding-right: 0;
	}

	/* Add bottom border to all but the last link */
	& .wp-block-navigation__submenu-container.wp-block-navigation-submenu > .wp-block-navigation-item:not(:last-child) {
		border-bottom: 1px solid rgba(128, 128, 128, 0.2);		
	}	
}

/* Always on mobile menu, bold face top level menu items */
.wp-block-navigation.is-style-nav-dividers .wp-block-navigation__responsive-container.is-menu-open {
//.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {

	//& .wp-block-navigation__container.is-style-nav-dividers.wp-block-navigation > li {
	& .wp-block-navigation__container.wp-block-navigation > li {
		font-weight: var(--wp--custom--typography--font-weight--medium);
	}

	//& .wp-block-navigation__container.is-style-nav-dividers.wp-block-navigation > li ul {
	& .wp-block-navigation__container.wp-block-navigation > li ul {
		font-weight: var(--wp--custom--typography--font-weight--normal);
	}
}

/* Always on mobile menu, put dividers on menu items */
.wp-block-navigation.is-style-nav-dividers .wp-block-navigation__responsive-container.is-menu-open {
//.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {

	/* Replace gap with padding */
	& .wp-block-navigation__container,
	& .wp-block-navigation__responsive-dialog .wp-block-page-list {
	//& > .wp-block-navigation__container {
		width: 100%;
		//row-gap: 0; 
		gap: 0;
	}

	& .wp-block-navigation__container li,
	& .wp-block-navigation__responsive-dialog .wp-block-page-list li {
		padding-top: var(--wp--preset--spacing--30);
		padding-bottom: var(--wp--preset--spacing--30);
		width: 100%;
		border: none;
	}

// 	& .wp-block-navigation__responsive-dialog .wp-block-page-list,
// 	& .wp-block-navigation__responsive-dialog .wp-block-page-list li {
// 		width: 100%;
// 	}

	/* Add a bottom border to all but the last one */	
	& .wp-block-navigation__container li:not(:last-child),
	& .wp-block-navigation__responsive-dialog li:not(:last-child) {
		border-bottom: 1px solid rgba(128, 128, 128, 0.2);
	}
	
	& .wp-block-navigation__container li:last-child,
	& .wp-block-navigation__responsive-dialog li:last-child {
		padding-bottom: 0;
	}

	/* Style submenus */
	& .wp-block-navigation-submenu .wp-block-navigation__submenu-container {
		width: 100%;
	}

	& .wp-block-navigation-submenu__toggle {
		width: 100%;
		border-bottom: 1px solid rgba(128, 128, 128, 0.2);
		padding-bottom: var(--wp--preset--spacing--30);
	}
	
	/* FIX for aligned drop-down menu items */
	& .wp-block-navigation__container.items-justified-right .wp-block-navigation__submenu-container,
	& .wp-block-navigation__container.items-justified-right .wp-block-navigation-submenu__toggle {
		padding-left: 0;
		text-align: right; 
	}

	& .wp-block-navigation__container.items-justified-left .wp-block-navigation__submenu-container,
	& .wp-block-navigation__container.items-justified-left .wp-block-navigation-submenu__toggle {
		padding-right: 0;
		text-align: left; 
	}

	& .wp-block-navigation__container.items-justified-center .wp-block-navigation__submenu-container,
	& .wp-block-navigation__container.items-justified-center .wp-block-navigation-submenu__toggle {
		text-align: center; 
	}
}

/*--------------------------------------------------------------
# Scroll Header Navigation
--------------------------------------------------------------*/
/* Line up menu close button with menu open button */
.wp-block-group.is-style-scroll-header .wp-block-navigation__responsive-container.is-menu-open {
  padding-top: var(--wp--preset--spacing--50);
}

/* OVERRIDE bold or highlight active top-level menu items, depending on whether text color or not */
.is-style-scroll-header:not(.header-active) .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container:not(.has-modal-open) {

	& .wp-block-navigation-item.current-menu-item:not(.has-child) > a,
	& .wp-block-navigation-item:has(.current-menu-ancestor),
	& .wp-block-navigation-item:has(.current-menu-ancestor) > a,
	& .wp-block-pages-list__item.current-menu-item > a,
	& .wp-block-navigation-item.wp-block-home-link > a[aria-current='page'] {
		color: var(--wp--preset--color--foreground-alt);
		font-weight: inherit;
	}
}

.is-style-scroll-header:not(.header-active) .wp-block-navigation.has-background .wp-block-navigation__responsive-container:not(.has-modal-open) {

	& .wp-block-navigation-item.current-menu-item:not(.has-child) > a,
	& .wp-block-navigation-item:has(.current-menu-ancestor),
	& .wp-block-navigation-item:has(.current-menu-ancestor) > a,
	& .wp-block-pages-list__item.current-menu-item > a,
	& .wp-block-navigation-item.wp-block-home-link > a[aria-current='page'] {
		font-weight: var(--wp--custom--typography--font-weight--medium);
	}
}

/* Navigation hover style for site title */
.is-style-scroll-header:not(.header-active) .wp-block-site-title > a:hover {
    opacity: 0.8;
}

/* Navigation hover styles for top-level menu items */
.is-style-scroll-header:not(.header-active) .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation.wp-block-navigation__container {
	& > .wp-block-navigation-item:hover > .wp-block-navigation-item__content,
	& > .wp-block-navigation-item:hover > .wp-block-navigation__submenu-icon,
	& > .wp-block-navigation-item:not(.has-child) > .wp-block-navigation-item__content:hover {
		color: var(--wp--preset--color--foreground-alt) !important;
		font-weight: inherit;
		opacity: 0.8;
	}
}

/*--------------------------------------------------------------
# Navigation Item Icons
--------------------------------------------------------------*/

/* Arrow Up Alt 2 icon */
.wp-block-navigation-item.is-style-arrow-up-icon > a:before { //,
// .wp-block-navigation-item.is-style-home-icon > a:before,
// .wp-block-navigation-item.is-style-user-icon > a:before,
// .wp-block-navigation-item.is-style-tools-icon > a:before,
// .wp-block-navigation-item.is-style-gear-icon > a:before {
	font-family: dashicons;
	line-height: 1;
	margin-right: 2px;
}

/* Arrow Up Alt 2 icon */
.wp-block-navigation-item.is-style-arrow-up-icon > a:before {
	content: "\f343";
}

// /* Admin Home icon */
// .wp-block-navigation-item.is-style-home-icon > a:before {
// 	content: "\f102";
// }

// /* Admin Users icon */
// .wp-block-navigation-item.is-style-user-icon > a:before {
// 	content: "\f110";
// }

// /* Admin Tools icon */
// .wp-block-navigation-item.is-style-tools-icon > a:before {
// 	content: "\f107";
// }

// /* Admin Generic icon */
// .wp-block-navigation-item.is-style-gear-icon > a:before {
// 	content: "\f111";
// }
