/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Scroll Header
--------------------------------------------------------------*/
/* Group Scroll header */
.wp-block-group.is-style-scroll-header {
	border: 1px solid var(--wp--custom--border--color);
	border-width: 0 0 1px;
	//padding-top: var(--wp--preset--spacing--40);
	//padding-bottom: var(--wp--preset--spacing--40);

	background-color: var(--wp--preset--color--foreground-alt);
	color: var(--wp--preset--color--very-dark-gray);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	transition: all var(--wp--custom--animation--duration--normal, 1s) ease;
}

/* Adjust scroll header position for WordPress Admin Bar */
.admin-bar .wp-block-group.is-style-scroll-header {
	top: var(--wp-admin--admin-bar--height, 32px);
}

/* If not yet scrolled, use transparent background and light font color */
.wp-block-group.is-style-scroll-header:not(.header-active) {
	background-color: transparent;
	color: var(--wp--preset--color--foreground-alt);
	border: none;
}

/* If not yet scrolled, use light font color on Site Title */
.is-style-scroll-header:not(.header-active):not(.has-link-color) .wp-block-site-title > a {
	color: var(--wp--preset--color--foreground-alt);
}

/* Bold or highlight active top-level menu items, depending on whether text color or not */
.is-style-scroll-header:not(.header-active) .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item.current-menu-item:not(.has-child) > a,
.is-style-scroll-header:not(.header-active) .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item:has(.current-menu-ancestor),
.is-style-scroll-header:not(.header-active) .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item:has(.current-menu-ancestor) > a,
.is-style-scroll-header:not(.header-active) .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-pages-list__item.current-menu-item > a,
.is-style-scroll-header:not(.header-active) .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item.wp-block-home-link > a[aria-current='page'] {
	color: var(--wp--preset--color--foreground-alt);
	font-weight: inherit;
}
.is-style-scroll-header:not(.header-active) .wp-block-navigation.has-background .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item.current-menu-item:not(.has-child) > a,
.is-style-scroll-header:not(.header-active) .wp-block-navigation.has-background .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item:has(.current-menu-ancestor),
.is-style-scroll-header:not(.header-active) .wp-block-navigation.has-background .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item:has(.current-menu-ancestor) > a,
.is-style-scroll-header:not(.header-active) .wp-block-navigation.has-background .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-pages-list__item.current-menu-item > a,
.is-style-scroll-header:not(.header-active) .wp-block-navigation.has-background .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item.wp-block-home-link > a[aria-current='page'] {
	font-weight: var(--wp--custom--typography--font-weight--medium);
}

/* Bold or highlight active sub-menu items, depending on whether text color or not */
// .wp-block-navigation__submenu-container.has-text-color .wp-block-navigation-item.current-menu-item .wp-block-navigation-item__content.wp-block-navigation-item__content {
// 	font-weight: var(--wp--custom--typography--font-weight--medium);
// }
// .wp-block-navigation__submenu-container:not(.has-text-color) .wp-block-navigation-item.current-menu-item .wp-block-navigation-item__content.wp-block-navigation-item__content {
// 	color: var(--wp--preset--color--primary-alt);
// 	//font-weight: inherit; //var(--wp--custom--typography--font-weight--normal);
// }

/* Navigation hover styles for top-level menu items */
// .wp-block-navigation:not(.has-background) .wp-block-navigation-item__content:hover,
// .wp-block-navigation:not(.has-background) .wp-block-navigation-item__content:active {
// .is-style-scroll-header:not(.header-active) .wp-block-navigation .wp-block-navigation__container > .wp-block-navigation-item > a:hover, // drop-down
// .is-style-scroll-header:not(.header-active) .wp-block-navigation .wp-block-navigation__container > .wp-block-navigation-item > a:active, // { //drop-down

.is-style-scroll-header:not(.header-active) .wp-block-navigation .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item:hover, // top-level
.is-style-scroll-header:not(.header-active) .wp-block-navigation .wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation-item:active { // top-level
    // color: var(--wp--preset--color--primary-alt);
    //color: inherit;
    color: var(--wp--preset--color--foreground-alt) !important;
    font-weight: inherit;
    //opacity: 0.8;
}

// .wp-block-navigation.has-background .wp-block-navigation-item__content:hover,
// .wp-block-navigation.has-background .wp-block-navigation-item__content:active {
// .is-style-scroll-header:not(.header-active) .wp-block-navigation.has-background .wp-block-navigation-item:hover, // top-level
// .is-style-scroll-header:not(.header-active) .wp-block-navigation.has-background .wp-block-navigation-item:active, // top-level

/* 
.is-style-scroll-header:not(.header-active) .wp-block-navigation .wp-block-navigation__container > .wp-block-navigation-item > a:hover, // top-level
.is-style-scroll-header:not(.header-active) .wp-block-navigation .wp-block-navigation__container > .wp-block-navigation-item > a:active { // top-level
    //color: var(--wp--preset--color--primary-alt);
    color: var(--wp--preset--color--foreground-alt) !important;
    opacity: 0.8;
}
 */

/* Until scrolled, header shouldn't have colored links */
/*
.is-style-scroll-header:not(.header-active) .wp-block-navigation a:where(:not(.wp-element-button)):hover {
	color: inherit !important;
	opacity: 0.8;
}

.is-style-scroll-header:not(.header-active) .wp-block-navigation a:where(:not(.wp-element-button)):active {
	color: inherit !important;
	opacity: 0.8;
}

// .is-style-scroll-header:not(.header-active) .wp-block-navigation-submenu.open-on-click:hover {
.is-style-scroll-header:not(.header-active) .wp-block-navigation-submenu:hover {
	color: inherit;
	opacity: 0.8;
}
 */
