/*--------------------------------------------------------------
# Cover
--------------------------------------------------------------*/

/* LIMIT cover image inner content to standard unless wide or full */
.wp-block-cover .wp-block-cover__inner-container > *:not(.alignfull):not(.alignwide) {
	max-width: var(--wp--style--global--content-size); 
	margin-left: auto;
	margin-right: auto;
}

.wp-block-cover .wp-block-cover__inner-container > *.alignwide,
.wp-block-cover .wp-block-cover__inner-container > *.alignfull {
	max-width: var(--wp--style--global--wide-size); 
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Cover: Custom
--------------------------------------------------------------*/

/* Border */
.wp-block-cover.is-style-cover-border {
	border: 3px solid var(--wp--custom--border--color);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--preset--spacing--40);
}

/* Rounded corners */
.wp-block-cover.is-style-cover-rounded-corners {
	border-radius: var(--wp--custom--border--radius);
	overflow: hidden;
}
