/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/
/* 
 * Note: Breakpoint of 781 is what is hard-coded in WordPress 
 * v6.0+ to collapse columns
 */
@media only screen and (max-width: 781px) {

	/* 
	 * If no global padding, then set paragraphs like colored
	 * groups 
	 */
	p.has-background:not(.has-global-padding) {
		padding-left: calc(2 * var(--wp--style--block-gap));
		padding-right: calc(2 * var(--wp--style--block-gap));
	}

	/* If global padding, then OVERRIDE horizontal padding on mobile */
	.has-global-padding p.has-background {
		padding-left: var(--wp--style--root--padding-left) !important;
		padding-right: var(--wp--style--root--padding-right) !important;
	}
		
}

/*--------------------------------------------------------------
# Paragraph: Custom
--------------------------------------------------------------*/

/* Alignwide */
p.is-style-alignwide {
	max-width: var(--wp--style--global--wide-size) !important;
	margin-left: auto !important;
    margin-right: auto !important;
}

/* Arrow icon */
p.is-style-arrow-icon-no-text {
    font-size: 0; /* hide the text */
}

p.is-style-arrow-icon > a,
p.is-style-arrow-icon-no-text > a {
	color: inherit;
	display: block;
	text-decoration: none !important;
	outline: none !important;
	text-align: center;
	margin: var(--wp--style--block-gap) auto;
}

p.is-style-arrow-icon > a:focus,
p.is-style-arrow-icon > a:active,
p.is-style-arrow-icon-no-text > a:focus,
p.is-style-arrow-icon-no-text > a:active {
	opacity: 1;
}

p.is-style-arrow-icon > a:after,
p.is-style-arrow-icon-no-text > a:after {
	display: block;
	font-family: dashicons;
	content: "\f347";
	font-size: var(--wp--preset--font-size--larger);
	line-height: 1;
}
p.is-style-arrow-icon > a:after {
	white-space: pre-wrap; /* adds line break */
}

/* Underline links */
p.is-style-link-underline a,
p.is-style-link-underline a:active {
	text-decoration: underline !important;
}
p.is-style-link-underline a:hover {
	opacity: 0.8;
	//filter: brightness(80%);
}

/* No Underline links */
p.is-style-link-no-underline a,
p.is-style-link-no-underline a:active {
	//font-weight: var(--wp--custom--typography--font-weight--medium);
	text-decoration: none !important;
}
p.is-style-link-no-underline a:hover {
	opacity: 0.8;
	//filter: brightness(80%);
}

/* Underline links on hover */
p.is-style-link-underline-hover a:hover {
	opacity: 1;
	text-decoration: underline;
}

