/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/

/* Closed Summary will have primary font color */
// .wp-block-details > summary {
.wp-block-details:not(.has-text-color) > summary {
	//color: var(--wp--preset--color--foreground);
	//color: var(--wp--preset--color--primary);
	color: var(--wp--custom--link--color);
	font-weight: var(--wp--custom--typography--font-weight--medium);
	transition: color var(--wp--custom--animation--duration--medium) var(--wp--custom--animation--timing-function);
}

/* Highlight Summary on hover and when open */
.wp-block-details:not(.has-text-color) > summary:hover,
.wp-block-details:not(.has-text-color)[open] > summary {
	//color: var(--wp--preset--color--primary);
	//color: var(--wp--preset--color--primary-alt);
	color: var(--wp--custom--link--hover);
}

// .wp-block-details:not(.has-text-color):not([open]) > summary,
// .wp-block-details:not(.has-text-color) > summary:active {
// 	//color: var(--wp--preset--color--foreground);
// 	color: var(--wp--preset--color--primary);
// }
