/*--------------------------------------------------------------
# Latest Comments
--------------------------------------------------------------*/

/* 
 * Set default latest comments to match latest posts, which has 
 * no bullets or indent 
 */
.wp-block-latest-comments {
	list-style: none;
}

.wp-block-latest-comments__comment {
	margin-bottom: 0;
}

/* Add some padding to plain posts list */
.wp-block-latest-comments li {
	margin-bottom: var(--wp--preset--spacing--30);
}

/*--------------------------------------------------------------
# Latest Comments: Custom
--------------------------------------------------------------*/

/* Default latest comments style to no bullets */
.wp-block-latest-comments:not(.is-style-bullets) {
	padding-left: 0;
}

/* Front-end Add bullets and padding */
.wp-block-latest-comments.is-style-bullets:not(.has-avatars) {
	padding-left: 2em; /*var(--wp--preset--spacing--60);*/
}
.wp-block-latest-comments.is-style-bullets {
	list-style: disc;
}
.wp-block-latest-comments.is-style-bullets li {
    list-style: disc;
	margin-bottom: 0;
}
.wp-block-latest-comments.is-style-bullets.has-avatars .wp-block-latest-comments__comment {
	list-style-position: inside;
}

/* Underline links */
.wp-block-latest-comments.is-style-link-underline a,
.wp-block-latest-comments.is-style-link-underline a:active {
  text-decoration: underline !important;
}

.wp-block-latest-comments.is-style-link-underline a:hover {
  opacity: 0.8;
}

/* No Underline links */
.wp-block-latest-comments.is-style-link-no-underline a,
.wp-block-latest-comments.is-style-link-no-underline a:active {
  text-decoration: none !important;
}

.wp-block-latest-comments.is-style-link-no-underline a:hover {
  opacity: 0.8;
}

/* Underline links on hover */
.wp-block-latest-comments.is-style-link-underline-hover a:hover {
	opacity: 1;
	text-decoration: underline;
}

