/*--------------------------------------------------------------
# Latest Posts
--------------------------------------------------------------*/

/* Increase post title size */
.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-title {
	font-size: var(--wp--preset--font-size--medium);
}

/* Set post thumbnails to match blog */
.wp-block-latest-posts__featured-image img {
	border-radius: var(--wp--custom--border--radius);
	border: 1px solid var(--wp--custom--border--color);
	padding: var(--wp--custom--border--radius);
}
.wp-block-latest-posts__featured-image.aligncenter {
	margin-bottom: var(--wp--preset--spacing--30);
}

/* Add some padding to plain posts list */
.wp-block-latest-posts:not(.is-grid) li {
	margin-bottom: var(--wp--preset--spacing--30);
}

/* Remove extra bottom padding on posts grid */
.wp-block-latest-posts.is-grid li {
	margin-bottom: 0;
}

/* Override horizontal padding on mobile 
 *
 * Note: Breakpoint of 601 is what is hard-coded in WordPress v6.0+
 * to collapse media & text and latest posts grid 
 */
@media only screen and (max-width: 601px) {	
	.wp-block-latest-posts.is-grid li {
        margin-right: 0;
    }
}

/*--------------------------------------------------------------
# Latest Posts: Custom
--------------------------------------------------------------*/

/* Bullets */
.wp-block-latest-posts.is-style-bullets.wp-block-latest-posts__list {
	list-style: disc;
	padding-left: 2em;
}

.wp-block-latest-posts.is-style-bullets li {
    list-style: disc;
	overflow: visible;
	margin-bottom: 0;
}

/* Underline links */
.wp-block-latest-posts.is-style-link-underline a,
.wp-block-latest-posts.is-style-link-underline a:active {
  text-decoration: underline !important;
}

.wp-block-latest-posts.is-style-link-underline a:hover {
  opacity: 0.8;
}

/* No Underline links */
.wp-block-latest-posts.is-style-link-no-underline a,
.wp-block-latest-posts.is-style-link-no-underline a:active {
  text-decoration: none !important;
}

.wp-block-latest-posts.is-style-link-no-underline a:hover {
  opacity: 0.8;
}

/* Underline links on hover */
.wp-block-latest-posts.is-style-link-underline-hover a:hover {
	opacity: 1;
	text-decoration: underline;
}

