/*--------------------------------------------------------------
# List: Custom
--------------------------------------------------------------*/
/* Checkmarks */
ul.is-style-list-checkmarks,
ol.is-style-list-checkmarks {
	list-style: none;
}

ul.is-style-list-checkmarks > li, 
ol.is-style-list-checkmarks > li {   
	position: relative;
}

/* dashicons-saved */
ul.is-style-list-checkmarks > li:before,
ol.is-style-list-checkmarks > li:before {
	font-family: dashicons;
	content: "\f15e"; 
    position: absolute;
    left: calc(-8px - 1em);
    top: .14285714em;
    text-align: center;
    transition:color .1s ease-in
}

.rtl ul.is-style-list-checkmarks > li:before,
.rtl ol.is-style-list-checkmarks > li:before {
	left: 0;
    right: calc(-8px - 1em);
}

/* Plain */
ul.is-style-list-plain,
ul.is-style-list-plain ul,
ol.is-style-list-plain ol,
ol.is-style-list-plain {
	list-style: none;
	padding-left: 0;
}

ul.is-style-list-plain li,
ol.is-style-list-plain li {
	margin-bottom: var(--wp--preset--spacing--30);
}

ul.is-style-list-plain:not(.has-background),
ol.is-style-list-plain:not(.has-background) {
	margin-left: 0;
}
ul.is-style-list-plain:not(.has-background) li,
ol.is-style-list-plain:not(.has-background) li {
	margin-left: 0;
}

ul.is-style-list-plain:not(.has-background) li ul li,
ol.is-style-list-plain:not(.has-background) li ul li {
	padding-left: var(--wp--preset--spacing--40);
}

/* Plain Centered */
ul.is-style-list-plain-centered,
ul.is-style-list-plain-centered ul,
ol.is-style-list-plain-centered,
ol.is-style-list-plain-centered ol {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	text-align: center;
}
ul.is-style-list-plain-centered li,
ol.is-style-list-plain-centered li {
	margin-left: 0;
}

/*--------------------------------------------------------------
# List Items: Custom
--------------------------------------------------------------*/
/* Underline links */
li.is-style-link-underline a,
li.is-style-link-underline a:active {
	text-decoration: underline; //!important;
}
li.is-style-link-underline a:hover {
	opacity: 0.8;
	//filter: brightness(80%);
}

/* No Underline links */
li.is-style-link-no-underline a,
li.is-style-link-no-underline a:active {
	//font-weight: var(--wp--custom--typography--font-weight--medium);
	text-decoration: none;  //!important;
}
li.is-style-link-no-underline a:hover {
	opacity: 0.8;
	//filter: brightness(80%);
}

/* Underline links on hover */
li.is-style-link-underline-hover a:hover {
	opacity: 1;
	text-decoration: underline;
}
