/*--------------------------------------------------------------
# Post Title: Custom
--------------------------------------------------------------*/

/* Underline links */
.wp-block-post-title.is-style-link-underline a,
.wp-block-page-list.is-style-link-underline a:active {
	text-decoration: underline !important;
}
.wp-block-post-title.is-style-link-underline a:hover {
	opacity: 0.8;
}

/* No Underline links */
.wp-block-post-title.is-style-link-no-underline a,
.wp-block-post-title.is-style-link-no-underline a:active {
	text-decoration: none !important;
}
.wp-block-post-title.is-style-link-no-underline a:hover  {
	opacity: 0.8;
}

/* Underline links on hover */
.wp-block-post-title.is-style-link-underline-hover a:hover {
	opacity: 1;
	text-decoration: underline;
}
