/*--------------------------------------------------------------
# Post Author
--------------------------------------------------------------*/

/* dashicons-admin-users */
.wp-block-post-author:before {
	font-family: dashicons;
	content: "\f110";
	margin-right: var(--wp--preset--spacing--20);
}

.rtl .wp-block-post-author:before {
	padding-right: 0;
	margin-right: 0;
	margin-left: var(--wp--preset--spacing--20);
}

.wp-block-post-author__avatar {
    margin-right: var(--wp--style--block-gap);
}

.wp-block-post-author__avatar img {
	border-radius: 50%; 
	margin: 0;
}

.wp-block-post-author__bio {
	//font-size: var(--wp--preset--font-size--medium);
	margin-top: var(--wp--style--block-gap);
	margin-bottom: var(--wp--style--block-gap);
}

/*--------------------------------------------------------------
# Post Author: Custom
--------------------------------------------------------------*/
.wp-block-post-author.is-style-no-icon:before {	
	display: none;
}

