/*--------------------------------------------------------------
# Separator
--------------------------------------------------------------*/

/* FIX to center default (narrow) separator when user selects alignfull */
.wp-block-separator.alignfull {
	margin-left: auto !important;
	margin-right: auto !important;
}

/* Override our short width for wide and dotted separators */
.wp-block-separator.is-style-wide,
.wp-block-separator.is-style-dots {
	width: 100% !important;; 
}

/*--------------------------------------------------------------
# Separator: Custom
--------------------------------------------------------------*/
.wp-block-separator.is-style-thick {
	border-width: 0 0 3px;
}

.wp-block-separator.is-style-thick-wide {
	border-width: 0 0 3px;
	width: 100%;
}

/*.wp-block-separator.is-style-clearfix {
	border-width: 0;
	margin: 0;
}*/
