/*--------------------------------------------------------------
# Social Links (Icons)
--------------------------------------------------------------*/

/* Set some defaults. These are needed for WordPres.org theme preview */
.wp-block-social-links {
	display: flex;
	gap: var(--wp--style--block-gap);
}

/* Adjust icon sizes */
.wp-block-social-links.has-small-icon-size {
  font-size: 22px;
}

.wp-block-social-links.has-normal-icon-size {
	font-size: 26px;
}

/* Adjust animation on social icons to better match our other animation */
.wp-block-social-link {
    transition: transform var(--wp--custom--animation--duration--medium) ease-in-out;
}
