/**
 * Theme:	Flat Blocks
 * File:	compat-wp6.1.css
 * 
 * The stylesheet for compatibility with WordPress v6.1. This is so the theme can use 
 * advanced features in the Gutenberg plugin and/or WordPress v6.1 and future versions 
 * now while still providing backwards compatibility to core WordPress.
 * 
 * Note that preset spacing is handled by our --wp--preset--spacing--xx variables in
 * theme.json.
 *
 * @package flat-blocks
 */

/*--------------------------------------------------------------
# Spacing presets for compatibility with WordPress v6.1
--------------------------------------------------------------*/
/* Without Gutenberg or WordPress v6.1, the presets in theme.json don't get added to the 
 * CSS, so manually add theme here. Remove once supported in core WordPress.
 */
body {
	--wp--preset--spacing--30: calc(0.5 * var(--wp--preset--spacing--40));
	--wp--preset--spacing--40: var(--wp--style--block-gap);
	--wp--preset--spacing--50: clamp(var(--wp--preset--spacing--40), 4vw, var(--wp--preset--spacing--60));
	--wp--preset--spacing--60: calc(2 * var(--wp--preset--spacing--40));
	--wp--preset--spacing--70: calc(3 * var(--wp--preset--spacing--40));
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/*
 * Text and navigation link styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */

/* Remove once supported in core WordPress theme.json */
a:where(:not(.wp-element-button):not(.wp-block-social-link-anchor)):hover {
	/*color: var(--wp--preset--color--primary-alt);*/
	opacity: 0.8;
}

a:where(:not(.wp-element-button):not(.wp-block-social-link-anchor)):focus {
	/*color: var(--wp--preset--color--primary-alt);*/
	opacity: 0.8;
}

/*
 * Search and File Block button styles.
 * Necessary until the following issues are resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/36444
 * https://github.com/WordPress/gutenberg/issues/27760
 */
.wp-block-search__button,
.wp-block-file .wp-block-file__button {
	background-color: var(--wp--preset--color--primary);
	border: none;
	color: var(--wp--preset--color--foreground-alt);
	font-size: var(--wp--preset--font-size--medium);
}

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/

/* Increase image caption font */
.wp-block-image figcaption {
	font-size: var(--wp--preset--font-size--small);
}
