/*--------------------------------------------------------------
# Custom: Cover Image
--------------------------------------------------------------*/

/* Border */
.wp-block-cover.is-style-cover-border {
	border: 3px solid var(--wp--custom--border--color);
	padding: var(--wp--preset--spacing--40);
}

.wp-block-cover.is-style-cover-rounded-corners {
	border-radius: var(--wp--custom--border--radius);
	overflow: hidden;
}

