/*--------------------------------------------------------------
# Custom: Images
--------------------------------------------------------------*/

/* Image no border */
.is-style-image-no-border { /*},
.wp-block-post-featured-image.is-style-image-no-border img {*/
	border: none;
	border-radius: 0;
	padding: 0;
}

/* Image borders */
.wp-block-image.is-style-image-border img {
	border: 1px solid var(--wp--custom--border--color);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--custom--border--radius);
}

.wp-block-image.is-style-image-round-border img {
	border: 1px solid var(--wp--custom--border--color);
	border-radius: 9999px; /*50%;*/
	padding: var(--wp--custom--border--radius);
}

/*.wp-block-image.is-style-image-computer-screen img {*/
.wp-block-image.is-style-image-computer-screen {
	border: var(--wp--preset--spacing--60) solid var(--wp--preset--color--dark);
	border-radius: var(--wp--preset--spacing--40);
	border-bottom: 3px solid var(--wp--preset--color--not-quite-black);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.wp-block-image.is-style-image-computer-screen figcaption {
	display: none;
}

.wp-block-image.is-style-image-tablet-phone-screen {
	border: calc(0.66 * var(--wp--preset--spacing--60)) solid var(--wp--preset--color--dark);
	border-radius: var(--wp--preset--spacing--40);
}

.wp-block-image.is-style-image-tablet-phone-screen figcaption {
	display: none;
}

