/*--------------------------------------------------------------
# Custom: Latest Posts
--------------------------------------------------------------*/

/* Bullets */
.wp-block-latest-posts.is-style-bullets.wp-block-latest-posts__list {
	list-style: disc;
	padding-left: 2em;
}

.wp-block-latest-posts.is-style-bullets li {
    list-style: disc;
	overflow: visible;
	margin-bottom: 0;
}
