/*--------------------------------------------------------------
# Custom: Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation Fixed Nav Menu. Front-end and Editor.
--------------------------------------------------------------*/

/* For font-end and Editor, style fixed mobile nav open and close buttons */
nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container-open,
nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container-close {
	background: rgba(0, 0, 0, .25);
	padding: var(--wp--preset--spacing--20);
	color: white;
	border: none;
	border-radius: 0;
}

/* On the front-end, position the fixed nav menu to the top left */
.wp-site-blocks:not(.is-root-container) nav.wp-block-navigation.is-style-fixed-menu {
    position: fixed;
	top: calc( var(--wp--preset--spacing--60) + 1px * var(--wp--style--root--padding-top, 0) );
	left: max( calc(0.5 * (100% - var(--wp--style--global--wide-size)) ), var(--wp--style--root--padding-left, calc(2 * var(--wp--preset--spacing--50)) ) );
	right: auto;
    z-index: 9999;
}

/* If WordPress Admin Bar, adjust fixed menu top position so its underneath */
.admin-bar .wp-site-blocks:not(.is-root-container) nav.wp-block-navigation.is-style-fixed-menu {
	top: calc( var(--wp--preset--spacing--60) + 1px * var(--wp--style--root--padding-top, 0) + var(--wp-admin--admin-bar--height, 0) );
}

/* 
 * In Editor, position fixed mobile nav menu CONTAINER, add some margin.
 */
/**.is-root-container > header:has(.is-style-fixed-menu) {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
.is-root-container nav.wp-block-navigation.is-style-fixed-menu {
	margin: var(--wp--preset--spacing--60) var(--wp--preset--spacing--50);
}**/

/* 
 * On the front-end and Editor, default the fixed menu's drop-down and close button 
 * also to the left */ 
nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container {
	width: 360px;
	left: 0; 
	right: auto;
}
nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container-close {
	left: 0;
	right: auto;
}

/* If right justified, position the fixed menu and its drop-down to the right */
.site-header.is-content-justification-right > nav.wp-block-navigation.is-style-fixed-menu,
.site-header.is-content-justification-right > .wp-block-template-part > nav.wp-block-navigation.is-style-fixed-menu {
    right: max( calc(0.5 * (100% - var(--wp--style--global--wide-size)) ), var(--wp--style--root--padding-right, calc(2 * var(--wp--preset--spacing--50)) ) );
    left: auto;    
}
.site-header.is-content-justification-right > nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container,
.site-header.is-content-justification-right > .wp-block-template-part > nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container {
	right: 0;
	left: auto;
}
.site-header.is-content-justification-right > nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container-close,
.site-header.is-content-justification-right > .wp-block-template-part > nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container-close {
	right: 0;
	left: auto;
}

/* If center justified, position the fixed menu and its drop-down in the center */
.site-header.is-content-justification-center > nav.wp-block-navigation.is-style-fixed-menu,
.site-header.is-content-justification-center > .wp-block-template-part > nav.wp-block-navigation.is-style-fixed-menu {
    left: calc(50% - 12px - var(--wp--preset--spacing--20));
    right: auto;
}
.site-header.is-content-justification-center > nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container,
.site-header.is-content-justification-center > .wp-block-template-part > nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container {
	/*left: calc(50% - 5 * var(--wp--preset--spacing--60));*/
	left: calc(50% - 180px);
	right: auto;
}
.site-header.is-content-justification-center > nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container-close,
.site-header.is-content-justification-center > .wp-block-template-part > nav.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container-close {
	left: calc(50% - 12px - 0.5 * var(--wp--preset--spacing--20));
	right: auto;
}

