/*--------------------------------------------------------------
# Latest Posts
--------------------------------------------------------------*/

/* Increase post title size */
.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-title {
	font-size: var(--wp--preset--font-size--medium);
}

/* Set post thumbnails to match blog */
.wp-block-latest-posts__featured-image img {
	border-radius: var(--wp--custom--border--radius);
	border: 1px solid var(--wp--custom--border--color);
	padding: var(--wp--custom--border--radius);
}
.wp-block-latest-posts__featured-image.aligncenter {
	margin-bottom: var(--wp--preset--spacing--30);
}

/* Add some padding to plain posts list */
.wp-block-latest-posts li {
	margin-bottom: var(--wp--preset--spacing--30);
}

/* Remove extra bottom padding on posts grid */
.wp-block-latest-posts.is-grid li {
	margin-bottom: 0;
}

/* And OVERRIDE horizontal padding on mobile */
/* Breakpoint of 601 is what is hard-coded in WordPress v6.0+ to collapse latest 
 * posts grid 
 */
@media only screen and (max-width: 601px) {	
	.wp-block-latest-posts.is-grid li {
        margin-right: 0;
    }
}