/*--------------------------------------------------------------
# Latest Comments
--------------------------------------------------------------*/

/* Set default latest comments to match latest posts, which has no bullets or indent */
.wp-block-latest-comments {
	list-style: none;
}

.wp-block-latest-comments__comment {
	margin-bottom: 0;
}

/* Add some padding to plain posts list */
.wp-block-latest-comments li {
	margin-bottom: var(--wp--preset--spacing--30);
}

