/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Fix WordPress Admin bar on phones not sticking to the top 
 *
 * Note to theme reviewers, this issues a warning but is actually fixing an issue
 * in core WordPress v6.0. It is not hiding the admin bar like the warning indicates.
 */
@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

/* Style the mobile nav menu open and close buttons */
.wp-block-navigation .wp-block-navigation__responsive-container-open,
.wp-block-navigation .wp-block-navigation__responsive-container-close {
	background-color: rgba(0, 0, 0, .05);
	border: 1px solid var(--wp--preset--color--neutral-alt);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--preset--spacing--20);
}

/* Adjust padding on mobile nav menu */
.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
    padding-top: calc( var(--wp--preset--spacing--40) + 24px );
}

/* Reduce vertical gap on top-level nav menus for when they wrap */
.wp-block-navigation {
/*.wp-block-navigation .wp-block-navigation__container,
.wp-block-navigation .wp-block-page-list {*/
	row-gap: var(--wp--preset--spacing--20);
}

/* But add it back on mobile menu*/
.wp-block-navigation__responsive-container.is-menu-open {
	row-gap: var(--wp--style--block-gap);
}

/* In the Editor, REMOVE extra margin on nav menu drop-down icons */
/**.is-root-container nav.wp-block-navigation .wp-block-navigation__submenu-icon {
	margin-left: 0;
}**/

/* REMOVE extra padding between top-level nav and its children */
.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
    padding-top: var(--wp--preset--spacing--20);
}

/* REMOVE extra padding on sub-menu drop-downs */
.wp-block-navigation .wp-block-navigation-submenu__toggle {
  padding-left: 0;
}

/* REDUCE padding on sub-menu drop-downs on mobile nav */
.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
	padding-left: var(--wp--preset--spacing--40);
	padding-right: var(--wp--preset--spacing--40);
}

/* REMOVE duplicate padding on sub-menus with backgrounds */
.wp-block-navigation .wp-block-navigation__submenu-container.has-background {
	padding: 0;
}

/*
 * Responsive menu container padding.
 * This ensures the responsive container inherits the same
 * spacing defined above. This behavior may be built into
 * the Block Editor in the future.
 */
.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {
	padding-top: var(--wp--preset--spacing--60);
	padding-bottom: var(--wp--preset--spacing--60);
	padding-right: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50));
	padding-left: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50));
}

/* Increase animation TIME on nav menu drop-downs */
.wp-block-navigation .has-child .wp-block-navigation__submenu-container {
	-webkit-transition-duration: var(--wp--custom--animation--duration--short);
	transition-duration: var(--wp--custom--animation--duration--short);
}

/* Increase animation DELAY on nav drop-downs when NOT requiring a click */
.wp-block-navigation .has-child:not(.open-on-click):hover > .wp-block-navigation__submenu-container {
	-webkit-transition-delay: var(--wp--custom--animation--duration--short);
	transition-delay: var(--wp--custom--animation--duration--short);
}
