/**
 * File:	pro-animation.css
 * Theme:	Flat Blocks PRO
 * 
 * The stylesheet for the theme's animation css
 *
 * @package flat-blocks-pro
 * @since	1.0
 */
/*--------------------------------------------------------------
# Animation Defaults
--------------------------------------------------------------*/
/* Apply the defaults to all animated classes (will override later when needed) */
[class*=is-style-animated-] {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--wp--custom--animation--duration--normal, 1s);
  animation-duration: var(--wp--custom--animation--duration--normal, 1s);
  -webkit-animation-timing-function: var(--wp--custom--animation--timing--function, ease);
  animation-timing-function: var(--wp--custom--animation--timing--function, ease);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: var(--wp--custom--animation--fill-mode, both);
  animation-fill-mode: var(--wp--custom--animation--fill-mode, both);
  -webkit-transition-duration: var(--wp--custom--animation--duration--normal, 1s);
  transition-duration: var(--wp--custom--animation--duration--normal, 1s);
}

/*--------------------------------------------------------------
# Reduced Motion
--------------------------------------------------------------*/
/* Honor the user's preference for reduced motion */
@media print, (prefers-reduced-motion: reduce) {
  [class*=is-style-animated-] {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
  }
}
/*--------------------------------------------------------------
# Core WordPress Animations
--------------------------------------------------------------*/
/* Change the animation to simple fadeIn when opening the mobile nav menu */
.wp-block-navigation__responsive-container.is-menu-open {
  -webkit-animation: fadeIn var(--wp--custom--animation--duration--medium) ease-out;
  animation: fadeIn var(--wp--custom--animation--duration--medium) ease-out;
}

/* Change the animation direction on mobile nav menu depending on the menu's positioning */
.site-header > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open,
.site-header > .wp-block-template-part > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/*.site-header.is-content-justification-left .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open,*/
.site-header.is-content-justification-left > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open,
.site-header.is-content-justification-left > .wp-block-template-part > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open,
.site-header.is-content-justification-space-between > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open,
.site-header.is-content-justification-space-between > .wp-block-template-part > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*.site-header.is-content-justification-center .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open,*/
.site-header.is-content-justification-center > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open,
.site-header.is-content-justification-center > .wp-block-template-part > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*--------------------------------------------------------------
# Jetpack Plugin Animations
--------------------------------------------------------------*/
/* Social sharing icons */
/*.sd-social-icon > .sd-content a {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
    transition: transform var(--wp--custom--animation--duration--medium) var(--wp--custom--animation--timing-function);
}

.sd-social-icon > .sd-content a:hover {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}

.wp-site-blocks .sd-social-icon .sd-content ul li[class * =share-] a:hover, 
.wp-site-blocks .sd-social-icon .sd-content ul li[class * =share-] div.option a:hover {
    opacity: 1;
}*/
/*--------------------------------------------------------------
# Scroll Animations
--------------------------------------------------------------*/
/* 
 * When the user scrolls to the animated element, trigger the animation. The 
 * 'animation-active' class is added by javascript in pro-animation.js.
 * 
 * The scroll animation CSS classes all start with "is-style-animated-scroll-" followed 
 * by the specific animation name (fadeInUp, etc.)
 */
/*--------------------------------------------------------------
# Animation: Auto Fade In
--------------------------------------------------------------*/
/* 
 * Usage - Add one the following CSS classes to a parent element (group, columns, etc.):
 *	is-style-animated-scroll-auto-fade
 *	is-style-animated-scroll-auto-animate
 */
/*.is-style-animated-scroll-auto-fade,
.is-style-animated-scroll-auto-animate {
	&.wp-block-group > :not(animation-active):not([class*=is-style-animated-]),
	&.wp-block-columns > .wp-block-column::not(animation-active)not([class*=is-style-animated-]),
	&.wp-block-cover > .wp-block-cover__inner-container:not(animation-active),
	&.wp-block-buttons > .wp-block-button:not(animation-active):not([class*=is-style-animated-]),
	&.wp-block-latest-posts.is-grid > li {
		opacity: 0;
	}
}*/
.is-style-animated-scroll-auto-fade.wp-block-group > .animation-active:not([class*=is-style-animated-]), .is-style-animated-scroll-auto-fade.wp-block-columns > .wp-block-column.animation-active:not([class*=is-style-animated-]), .is-style-animated-scroll-auto-fade.wp-block-cover > .wp-block-cover__inner-container.animation-active, .is-style-animated-scroll-auto-fade.wp-block-buttons > .wp-block-button.animation-active:not([class*=is-style-animated-]), .is-style-animated-scroll-auto-fade.wp-block-latest-posts.is-grid > li.animation-active,
.is-style-animated-scroll-auto-animate.wp-block-group > .animation-active:not([class*=is-style-animated-]),
.is-style-animated-scroll-auto-animate.wp-block-columns > .wp-block-column.animation-active:not([class*=is-style-animated-]),
.is-style-animated-scroll-auto-animate.wp-block-cover > .wp-block-cover__inner-container.animation-active,
.is-style-animated-scroll-auto-animate.wp-block-buttons > .wp-block-button.animation-active:not([class*=is-style-animated-]),
.is-style-animated-scroll-auto-animate.wp-block-latest-posts.is-grid > li.animation-active {
  -webkit-animation: fadeInUp var(--wp--custom--animation--duration--normal) ease-in;
  animation: fadeInUp var(--wp--custom--animation--duration--normal) ease-in;
}

/* For parallax cover images, delay the inner content animation a bit */
.wp-block-cover.has-parallax > .wp-block-cover__inner-container.animation-active,
.wp-block-cover.has-parallax > .wp-block-cover__inner-container > .animation-active {
  -webkit-animation-delay: var(--wp--custom--animation--duration--short);
  animation-delay: var(--wp--custom--animation--duration--short);
}

/*--------------------------------------------------------------
# Animation: Fade In on Scroll
--------------------------------------------------------------*/
.is-style-animated-scroll-fadeIn.animation-active {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*--------------------------------------------------------------
# Animation: Fade In Up on Scroll
--------------------------------------------------------------*/
/*.is-style-animated-scroll-fadeInUp:not(.wp-block-cover.has-parallax):not(animation-active) {
	opacity: 0;
}*/
.is-style-animated-scroll-fadeInUp.animation-active:not(.wp-block-cover.has-parallax) {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, min(100%, var(--wp--custom--animation--max--height)), 0);
    transform: translate3d(0, min(100%, var(--wp--custom--animation--max--height)), 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, min(100%, var(--wp--custom--animation--max--height)), 0);
    transform: translate3d(0, min(100%, var(--wp--custom--animation--max--height)), 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*--------------------------------------------------------------
# Animation: Fade In Right on Scroll
--------------------------------------------------------------*/
/*.is-style-animated-scroll-fadeInRight:not(animation-active) {
	opacity: 0;
}*/
.is-style-animated-scroll-fadeInRight.animation-active {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(min(100%, var(--wp--custom--animation--max--width)), 0, 0);
    transform: translate3d(min(100%, var(--wp--custom--animation--max--width)), 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(min(100%, var(--wp--custom--animation--max--width)), 0, 0);
    transform: translate3d(min(100%, var(--wp--custom--animation--max--width)), 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*--------------------------------------------------------------
# Animation: Fade In Left on Scroll
--------------------------------------------------------------*/
/*.is-style-animated-scroll-fadeInLeft:not(animation-active) {
	opacity: 0;
}*/
.is-style-animated-scroll-fadeInLeft.animation-active {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(calc(-1 * min(100%, var(--wp--custom--animation--max--width))), 0, 0);
    transform: translate3d(calc(-1 * min(100%, var(--wp--custom--animation--max--width))), 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(calc(-1 * min(100%, var(--wp--custom--animation--max--width))), 0, 0);
    transform: translate3d(calc(-1 * min(100%, var(--wp--custom--animation--max--width))), 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*--------------------------------------------------------------
# Hover Animations
--------------------------------------------------------------*/
/* 
 * When the user hovers over the animated element, trigger the animation.
 * 
 * The hover animation CSS classes all start with "is-style-animated-hover-" followed 
 * by the specific animation name (grow, etc.)
 */
/*--------------------------------------------------------------
# Animation: Auto Hover
--------------------------------------------------------------*/
/* 
 * Usage - Add one the following CSS classes to a parent element (group, columns, etc.):
 *	is-style-animated-auto-hover
 *	is-style-animated-scroll-auto-animate
 */
.is-style-animated-auto-hover .wp-block-button:not([class*=is-style-animated-]), .is-style-animated-auto-hover .is-style-arrow-icon:not([class*=is-style-animated-]) > a, .is-style-animated-auto-hover .is-style-arrow-icon-no-text:not([class*=is-style-animated-]) > a,
.is-style-animated-scroll-auto-animate .wp-block-button:not([class*=is-style-animated-]),
.is-style-animated-scroll-auto-animate .is-style-arrow-icon:not([class*=is-style-animated-]) > a,
.is-style-animated-scroll-auto-animate .is-style-arrow-icon-no-text:not([class*=is-style-animated-]) > a {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: transform var(--wp--custom--animation--duration--medium) ease-out;
  transition: transform var(--wp--custom--animation--duration--medium) ease-out;
}
.is-style-animated-auto-hover .wp-block-button:not([class*=is-style-animated-]):hover, .is-style-animated-auto-hover .wp-block-button:not([class*=is-style-animated-]):focus, .is-style-animated-auto-hover .wp-block-button:not([class*=is-style-animated-]):active, .is-style-animated-auto-hover .is-style-arrow-icon:not([class*=is-style-animated-]) > a:hover, .is-style-animated-auto-hover .is-style-arrow-icon:not([class*=is-style-animated-]) > a:focus, .is-style-animated-auto-hover .is-style-arrow-icon:not([class*=is-style-animated-]) > a:active, .is-style-animated-auto-hover .is-style-arrow-icon-no-text:not([class*=is-style-animated-]) > a:hover, .is-style-animated-auto-hover .is-style-arrow-icon-no-text:not([class*=is-style-animated-]) > a:focus, .is-style-animated-auto-hover .is-style-arrow-icon-no-text:not([class*=is-style-animated-]) > a:active,
.is-style-animated-scroll-auto-animate .wp-block-button:not([class*=is-style-animated-]):hover,
.is-style-animated-scroll-auto-animate .wp-block-button:not([class*=is-style-animated-]):focus,
.is-style-animated-scroll-auto-animate .wp-block-button:not([class*=is-style-animated-]):active,
.is-style-animated-scroll-auto-animate .is-style-arrow-icon:not([class*=is-style-animated-]) > a:hover,
.is-style-animated-scroll-auto-animate .is-style-arrow-icon:not([class*=is-style-animated-]) > a:focus,
.is-style-animated-scroll-auto-animate .is-style-arrow-icon:not([class*=is-style-animated-]) > a:active,
.is-style-animated-scroll-auto-animate .is-style-arrow-icon-no-text:not([class*=is-style-animated-]) > a:hover,
.is-style-animated-scroll-auto-animate .is-style-arrow-icon-no-text:not([class*=is-style-animated-]) > a:focus,
.is-style-animated-scroll-auto-animate .is-style-arrow-icon-no-text:not([class*=is-style-animated-]) > a:active {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

/*--------------------------------------------------------------
# Animation: Grow on Hover
--------------------------------------------------------------*/
.is-style-animated-hover-grow:not(.wp-block-buttons),
.is-style-animated-hover-grow .wp-block-button {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: transform var(--wp--custom--animation--duration--medium) ease-out;
  transition: transform var(--wp--custom--animation--duration--medium) ease-out;
}
.is-style-animated-hover-grow:not(.wp-block-buttons):hover, .is-style-animated-hover-grow:not(.wp-block-buttons):focus, .is-style-animated-hover-grow:not(.wp-block-buttons):active,
.is-style-animated-hover-grow .wp-block-button:hover,
.is-style-animated-hover-grow .wp-block-button:focus,
.is-style-animated-hover-grow .wp-block-button:active {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

/*--------------------------------------------------------------
# Animation: Slide Up on Hover
--------------------------------------------------------------*/
.is-style-animated-hover-slideUp:not(.wp-block-buttons),
.is-style-animated-hover-slideUp .wp-block-button {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform var(--wp--custom--animation--duration--medium) ease-out;
  transition: transform var(--wp--custom--animation--duration--medium) ease-out;
}
.is-style-animated-hover-slideUp:not(.wp-block-buttons):hover, .is-style-animated-hover-slideUp:not(.wp-block-buttons):focus, .is-style-animated-hover-slideUp:not(.wp-block-buttons):active,
.is-style-animated-hover-slideUp .wp-block-button:hover,
.is-style-animated-hover-slideUp .wp-block-button:focus,
.is-style-animated-hover-slideUp .wp-block-button:active {
  -webkit-transform: translate3d(0, calc(-1 * var(--wp--preset--spacing--30)), 0);
  transform: translate3d(0, calc(-1 * var(--wp--preset--spacing--30)), 0);
}

/*--------------------------------------------------------------
# Animation: Zoom Image on Hover
--------------------------------------------------------------*/
/* 
 * Usage: Add class "is-style-animated-hover-zoom"
 */
/* Image zoom on hover animation. Hide overflow so image just zooms instead of grows. */
.is-style-animated-hover-zoom,
.is-style-auto-animation .wp-block-cover,
.is-style-auto-animation .wp-block-post-content .wp-block-image,
.is-style-auto-animation .wp-block-latest-posts__featured-image,
.wp-block-gallery .wp-block-image,
.wp-block-jetpack-tiled-gallery .tiled-gallery__item {
  overflow: hidden;
}

.is-style-animated-hover-zoom img,
.is-style-auto-animation .wp-block-cover img,
.is-style-auto-animation .wp-block-post-content .wp-block-image > a > img,
.is-style-auto-animation .wp-block-latest-posts__featured-image > a > img,
.wp-block-gallery .wp-block-image img,
.wp-block-jetpack-tiled-gallery .tiled-gallery__item img {
  margin: 0;
  vertical-align: middle;
  -webkit-transition: transform var(--wp--custom--animation--duration--normal);
  transition: transform var(--wp--custom--animation--duration--normal);
}

.is-style-animated-hover-zoom:hover img,
.is-style-auto-animation .wp-block-cover:hover img,
.is-style-auto-animation .wp-block-post-content .wp-block-image > a:hover > img,
.is-style-auto-animation .wp-block-latest-posts__featured-image > a:hover > img,
.wp-block-gallery .wp-block-image:hover img,
.wp-block-jetpack-tiled-gallery .tiled-gallery__item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

/* Remove the border as it gets covered up by the zooming image anyway */
.is-style-auto-animation .wp-block-post-content .wp-block-image > a:hover > img {
  border-width: 0;
}

/* Set the border radius of the image containers so the image zooms into that shape */
.is-style-auto-animation .wp-block-post-content .wp-block-image.is-style-circle-mask:has(a),
.is-style-auto-animation .wp-block-post-content .wp-block-image.is-style-rounded:has(a),
.is-style-auto-animation .wp-block-post-content .wp-block-image.is-style-image-round-border:has(a) {
  border-radius: 9999px; /*!important;*/
}

.is-style-auto-animation .wp-block-post-content .wp-block-latest-posts__featured-image:has(a),
.is-style-auto-animation .wp-block-post-content .wp-block-image.is-style-image-border:has(a) {
  border-radius: var(--wp--custom--border--radius);
}

/*--------------------------------------------------------------
# Animation: Progress Bar
--------------------------------------------------------------*/
/* 
 * Usage: TBD
 */
/*@include mixins.keyframes(fadeInLeft) {
    0% {
        width:0
    }
}

.gutenify--progress-bar--title-wrap {
    display: flex;
    justify-content:space-between
}

.gutenify--progress-bar--title-wrap .gutenify--progress-bar--percentage-text {
    color:var(--progress-bar--percent-text-color)
}

.gutenify--progress-bar--track {
    background-color: var(--progress-bar--background-bar-color);
    border: var(--progress-bar--border-size) solid var(--progress-bar--border-color);
    border-radius: var(--progress-bar--border-radius);
    box-sizing: border-box;
    overflow:hidden
}

.gutenify--progress-bar--handle {
    align-items: center;
    -webkit-animation: in-out 1s forwards;
    animation: in-out 1s forwards;
    background-color: var(--progress-bar--progress-bar-color);
    box-sizing: border-box;
    color: #fff;
    color: var(--progress-bar--percent-text-color);
    display: flex;
    justify-content: right;
    padding:0 5px
}

.gutenify--progress-bar--handle.gutenify--progress-bar--handle-animate {
    -webkit-animation: progress 1.5s ease-in 1;
    animation:progress 1.5s ease-in 1
}

.gutenify--progress-bar--handle .gutenify--progress-bar--percentage-text {
    display: none
}*/
