<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"header","layout":{"type":"constrained"},"lock":{"move":true,"remove":true},"align":"full","backgroundColor":"primary","textColor":"foreground-alt","className":"entry-header alignfull"} -->
<header class="wp-block-group alignfull entry-header has-foreground-alt-color has-primary-background-color has-text-color has-background" id="page">
<!-- wp:group {"align":"wide","className":"is-style-no-padding"} -->
<div class="wp-block-group alignwide is-style-no-padding">
<!-- wp:pattern {"slug":"flat-blocks/hidden-title-404"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"full","className":"page-content type-page template-404 is-style-no-padding"} -->
<main class="wp-block-group alignfull page-content type-page template-404 is-style-no-padding" id="page-content">

<!-- wp:template-part {"slug":"content-sitemap"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->