<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"header","lock":{"move":true,"remove":true},"align":"full","backgroundColor":"primary","textColor":"foreground-alt","className":"entry-header alignfull","layout":{"type":"constrained"}} -->
<header class="wp-block-group alignfull entry-header has-foreground-alt-color has-primary-background-color has-text-color has-background">
<!-- wp:group {"lock":{"move":true,"remove":true},"align":"wide","className":"is-style-no-padding"} -->
<div class="wp-block-group alignwide is-style-no-padding">
<!-- wp:query-title {"type":"archive","align":"wide","className":"entry-title"} /-->
<!-- wp:term-description {"className":"entry-subtitle has-medium-font-size"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"page-content is-style-no-padding type-blog template-archive"} -->
<main id="page-content" class="wp-block-group page-content is-style-no-padding type-blog template-archive"><!-- wp:template-part {"slug":"query","lock":{"move":true,"remove":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->