<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"header","lock":{"move":true,"remove":true},"align":"full","backgroundColor":"primary","textColor":"foreground-alt","className":"entry-header alignfull ","layout":{"inherit":true}} -->
<header class="wp-block-group alignfull entry-header has-foreground-alt-color has-primary-background-color has-text-color has-background" id="page"><!-- wp:group {"align":"wide","className":"is-style-no-padding"} -->
<div class="wp-block-group alignwide is-style-no-padding"><!-- wp:query-title {"type":"archive","align":"wide","className":"entry-title"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"author-bio entry-content alignwide is-style-no-padding","layout":{"inherit":true}} -->
<div class="wp-block-group author-bio entry-content alignwide is-style-no-padding"><!-- wp:post-author {"avatarSize":96,"showBio":true,"byline":"","className":"has-medium-font-size is-style-no-icon alignwide"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"page-content is-style-no-padding type-blog template-author"} -->
<main id="page-content" class="wp-block-group page-content is-style-no-padding type-blog template-author"><!-- wp:template-part {"slug":"query","lock":{"move":true,"remove":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->