<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0"}}},"className":"alignfull site-header"} -->
<div class="wp-block-group alignfull site-header" style="margin-top:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"page-content"} -->
<main id="page-content" class="wp-block-group page-content is-style-default">
<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->