<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"header","align":"full","backgroundColor":"primary","textColor":"foreground-alt","className":"entry-header alignfull","layout":{"type":"constrained"}} -->
<header class="wp-block-group entry-header alignfull has-foreground-alt-color has-primary-background-color has-text-color has-background" id="page">
<!-- wp:group {"align":"wide","className":"is-style-no-padding"} -->
<div class="wp-block-group alignwide is-style-no-padding">
<!-- wp:pattern {"slug":"flat-blocks/hidden-title-sitemap"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"full","className":"page-content","layout":{"type":"constrained"}} -->
<main id="page-content" class="wp-block-group page-content alignfull is-style-default">
<!-- wp:columns {"align":"full","className":"main-content is-style-thick-gap","layout":{"inherit":false}} -->
<div class="wp-block-columns alignfull main-content is-style-thick-gap">
<!-- wp:column {"className":"is-style-no-top-margin"} -->
<div class="wp-block-column is-style-no-top-margin">
<!-- wp:template-part {"slug":"content-sitemap"} /-->

<!-- wp:template-part {"slug":"comments"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"340px"} -->
<div class="wp-block-column" style="flex-basis:340px">
<!-- wp:template-part {"slug":"sidebar"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->
