<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"page-title","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","className":"page-content is-style-no-padding type-page template-page"} -->
<main id="page-content" class="wp-block-group is-style-no-padding page-content type-page template-page">

	<!-- wp:post-content {"layout":{"inherit":true}} /-->
	<!-- wp:template-part {"slug":"comments"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->
