<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:pattern {"slug":"flat-blocks/cover-scroll-page-header"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"className":"is-style-no-padding page-content type-page template-page-home"} -->
<main id="page-content" class="wp-block-group is-style-no-padding page-content type-page template-featured-cover">
<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->