<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"header","align":"full","backgroundColor":"primary","className":"entry-header alignfull","layout":{"type":"constrained"},"lock":{"move":true,"remove":true}} -->
<header class="wp-block-group alignfull entry-header has-primary-background-color has-background">
<!-- wp:group {"align":"wide","className":"is-style-default"} -->
<div class="wp-block-group alignwide is-style-default" id="entry-title">
<!-- wp:pattern {"slug":"flat-blocks/hidden-title-sitemap"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"full",className":"page-content is-style-default","layout":{"type":"constrained"},"lock":{"move":true,"remove":true}} -->
<main class="wp-block-group alignfull page-content is-style-default" id="page-content">
<!-- wp:post-content {"layout":{"type":"constrained"},"lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"content-sitemap","lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"comments"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->