<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","className":"page-content is-style-default","lock":{"move":true,"remove":true}} -->
<main id="page-content" class="wp-block-group page-content is-style-default">
<!-- wp:post-content {"layout":{"type":"constrained"},"lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"comments"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->