<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","className":"is-style-no-padding page-content type-page template-page-notitle"} -->
<main id="page-content" class="wp-block-group is-style-no-padding page-content type-page template-page-notitle">

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:template-part {"slug":"comments"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->
