<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"header","layout":{"type":"constrained"},"align":"full","backgroundColor":"primary","textColor":"foreground-alt","className":"entry-header alignfull "} -->
<header class="wp-block-group alignfull entry-header  has-foreground-alt-color has-primary-background-color has-text-color has-background">
<!-- wp:group {"align":"wide","className":"is-style-no-padding"} -->
<div class="wp-block-group alignwide is-style-no-padding">
<!-- wp:pattern {"slug":"flat-blocks/hidden-title-search"} /-->
<!-- wp:query-title {"type":"archive","className":"entry-subtitle","fontSize":"medium"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"page-content is-style-no-padding type-search template-search"} -->
<main id="page-content" class="wp-block-group page-content is-style-no-padding type-search template-search"><!-- wp:group {"layout":{"type":"constrained"},"lock":{"move":false,"remove":true},"align":"wide","className":"search-block is-style-no-padding is-style-default"} -->
<div class="wp-block-group alignwide search-block is-style-no-padding is-style-default"><!-- wp:search {"label":"Search...","buttonText":"Search","buttonUseIcon":true} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"query","lock":{"move":true,"remove":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->