<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:pattern {"slug":"flat-blocks/cover-scroll-page-header"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-no-padding page-content type-post template-single-featured-image"} -->
<main id="page-content" class="wp-block-group is-style-no-padding page-content type-post template-single-featured-cover">

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:template-part {"slug":"post-meta"} /-->

<!-- wp:template-part {"slug":"comments"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->