/*--------------------------------------------------------------
# Editor Post Title
--------------------------------------------------------------*/
/* Style the post title in the Block Editor */
.edit-post-visual-editor__post-title-wrapper {
	margin-top: var(--wp--preset--spacing--40);
	margin-bottom: var(--wp--preset--spacing--40);
	padding-left: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50));
	padding-right: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50));
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* Fields are still light background, so make text dark in Editor */
.block-editor-plain-text {
    color: var(--wp--preset--color--very-dark-gray);
} 

/*--------------------------------------------------------------
# Captions
--------------------------------------------------------------*/
.wp-element-caption {
	text-align: center;
}

/*--------------------------------------------------------------
# Margins (vertical spacing)
--------------------------------------------------------------*/
/* 
 * Add top margin to the container's first block and then between 
 * subsequent blocks 
 */
.is-root-container > *:first-child:not(.wp-block-template-part, .wp-block-cover, .wp-block-query) {
 	margin-block-start: var(--wp--style--block-gap);
}
