/*--------------------------------------------------------------
# Site Title
--------------------------------------------------------------*/

/* Override WordPress v6.4 defaulting this to inherit */
.editor-styles-wrapper .wp-block-site-title a {
	color: var(--wp--preset--color--primary);
}

