/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
/* Reduce top margin on "Leave a Reply" */
/* TO-DO: See if can move to theme.json */
.comment-reply-title {
  margin-top: 0;
}

/* TO-DO: See if we can remove having to use our ID */
/* Match our bottom margin */
#post-comments {
  margin-bottom: var(--wp--style--block-gap);
}

/* Hide empty comments so no extra vertical margin */
#post-comments:empty {
  display: none;
  margin-top: 0;
}

/* Add padding to comment page numbers */
.wp-block-comments-pagination .page-numbers:nth-last-child(n+2) {
  padding-right: var(--wp--preset--spacing--30);
}

/*--------------------------------------------------------------
# Comments: Custom
--------------------------------------------------------------*/
/* Rounded borders */
.wp-block-comments.is-style-rounded-border,
.wp-block-comments-query-loop.is-style-rounded-border {
  border: 1px solid var(--wp--custom--border--color);
  border-radius: var(--wp--custom--border--radius);
  padding: var(--wp--preset--spacing--40);
}
