/*--------------------------------------------------------------
# Post Excerpt: Custom
--------------------------------------------------------------*/
/* HIDE read more text and link */
.wp-block-post-excerpt.is-style-no-readmore > .wp-block-post-excerpt__more-text {
  display: none;
}
