/*--------------------------------------------------------------
# Post Comments Count
--------------------------------------------------------------*/
/* dashicons-admin-comments for comments count */
.wp-block-post-comments-count:before {
  font-family: dashicons;
  content: "\f101";
  margin-right: var(--wp--preset--spacing--20);
}

.rtl .wp-block-post-comments-count:before {
  padding-right: 0;
  margin-right: 0;
  margin-left: var(--wp--preset--spacing--20);
}

/* 
 * Add word "comment(s)" after post comment count. Note this is 
 * only available with the Gutenberg plugin. 
 */
.wp-block-post-comments-count:after {
  content: " comment(s)";
}

/*--------------------------------------------------------------
# Post Comments Count: Custom
--------------------------------------------------------------*/
.wp-block-post-comments-count.is-style-no-icon:before {
  display: none;
}
