/*--------------------------------------------------------------
# Quote
--------------------------------------------------------------*/
/* OVERRIDE quote citation to be on new line */
.wp-block-quote cite,
.wp-block-pullquote cite {
  display: inline-block;
}

/* REMOVE top margin because we use padding instead */
.wp-block-pullquote p {
  margin-top: 0;
}
